.container {
    border-width: 1px;
    border-style: solid;
    border-color: #C4C4C4;
    border-radius: 5px;
    margin-bottom: 1rem;
}

@media (max-width: 599px) {
    .container {
        border: none;
    }
}